body {
    font-family: 'Perfect DOS VGA 437', monospace;
    background-color: #0c13e5;
    color: #eeff00;
    margin: 0;
    padding-left: 1vw;
    padding-right: 1vw;

}

.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48vh;
    border: 1px solid #EEE;
    margin-top: 1vh;
    margin-bottom: 1vh;
    position: relative;
}

.part {
    height: 100%;
    border: 1px solid #EEE;
    padding-left: 1vw;
    padding-right: 1vw;
    flex: 1;
    text-align: justify;
}

.part:first-child {
    text-align: left;
}

.part:last-child {
    text-align: right;
}

.large {
    flex-grow: 2;
}


.double-size {
    width: 200px; /* adjust as needed */
    height: 200px; /* adjust as needed */
}

.double-height {
    height: 98vh; /* Double the height */
}

.sub-section {
    position: relative; /* Establish a new positioning context */
    height: 33.33%; /* Each sub-section takes up one third of the height */
}

.floating {
    position: absolute;

}


@font-face {
    font-family: 'Perfect DOS VGA 437';
    src: url('PerfectDOSVGA437.eot');
    src: url('PerfectDOSVGA437.eot?#iefix') format('embedded-opentype'),
        url('PerfectDOSVGA437.woff2') format('woff2'),
        url('PerfectDOSVGA437.woff') format('woff'),
        url('PerfectDOSVGA437.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
