body {
    font-family: 'Perfect DOS VGA 437', monospace;
    background-color: #0c13e5;
    color: #eeff00;
    margin: 0;
    padding-left: 1vw;
    padding-right: 1vw;

}

.section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 48vh;
    border: 1px solid #EEE;
    /* box-shadow: 0 0 0 2px #000;  */
    margin-top: 1vw;
    margin-bottom: 1vw;

}

.part {
    height: 100%;
    /* border: 1px solid #EEE; */
    box-shadow: 0 0 0 1px #000; 
    padding: 20px;
}

.double-height {
    height: 96vh; /* 2 times the standard height of 50vh */
}

.one-third {
    flex: 1;
}

.two-thirds {
    flex: 2;
}

.left-side {
    text-align: left;
}

.right-side {
    text-align: right;
}

.half {
    flex: 1;
}

.full {
    flex: 1;
}

.floating {
    position: absolute;
    width: 100px; /* adjust as needed */
    height: 100px; /* adjust as needed */
}

.double-size {
    width: 200px; /* adjust as needed */
    height: 200px; /* adjust as needed */
}


@font-face {
    font-family: 'Perfect DOS VGA 437';
    src: url('PerfectDOSVGA437.eot');
    src: url('PerfectDOSVGA437.eot?#iefix') format('embedded-opentype'),
        url('PerfectDOSVGA437.woff2') format('woff2'),
        url('PerfectDOSVGA437.woff') format('woff'),
        url('PerfectDOSVGA437.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
