
.hide-scrollbar {
  overflow:hidden;
}


body {
    font-family: 'Perfect DOS VGA 437', monospace;
    margin: 0;
    padding: 0;
    height: 100%;
    cursor: url('assets/cursors/arrow.cur'), auto;
    background: #3a6ea5;
    background-image: url('../assets/index/Wind.jpg'); 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
    background-attachment: fixed; 
  
  }

.window {

  animation: wobble 5s infinite;

}


  /* Define styles for .window with .half class */
.window.half {
  width: calc(50% - 20px); /* Adjust as needed */
  max-width: calc(100% - 40px);
}

/* Define styles for .window with .full class */
.window.full {
  width: calc(100% - 40px);
  max-width: calc(100% - 40px);
}

/* Define styles for .window with .full class */
.window.img {
width: 100%;
height:auto;

}


.section {
    display: flex;
    justify-content: space-between;
    align-items: left;
    width: 25vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    position: relative;
}

.part {
    height: 100%;
    border: 1px solid #EEE;
    padding-left: 1vw;
    padding-right: 1vw;
    text-align: left;
    overflow: hidden;
}

.part img {
    max-height: 100%;
    width: auto;
}


.large {
    flex-grow: 2;
    text-align: right;
}

.small {
    flex-grow: 1;
    max-width: 33%;
    text-align: left;
}

.double-size {
    width: 200%;
    height: 200%;
}

.ticker-container {
    position: absolute; 
    top: 0; 
    left: 0;
    width: 100%;
    height: 50px; 
    overflow: hidden;
    color: #eeff00;
  }

.ticker-text {
position: absolute;
top: 0;
left: 100%; 
white-space: nowrap; 
z-index: 5;
}


.float-container {
  position: relative;
  width: 98vw;
  height: 98vh;
  display: flex;
}

.sub-section.large {
  flex-basis: 50%;
  height: 100%;
}

.right-container {
  display: grid;
  grid-template-columns: 1.25fr 0.85fr; /* Create two columns */
  grid-template-rows: 1.25fr 2fr, 1fr;
  flex-basis: 50%;
  height: 100%;
}

.sub-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-section:nth-child(1) {
  grid-row: 1; /* Place in the first row */
  grid-column: 1; /* Place in the first column */
}

.sub-section:nth-child(2) {
  grid-row: 2; /* Place in the second row */
  grid-column: 2; /* Place in the second column */
}

.sub-section:nth-child(3) {
  grid-row: 3; /* Place in the third row */
  grid-column: 1; /* Place in the first column */
}


.floating {
    position: relative;
    text-align: justify;
    padding-left: 5%;
    padding-right: 5%;
    display: inline-block; 
    z-index: 2;
    cursor: url('assets/cursors/cursor_15.cur'), auto;
    visibility: hidden;
    opacity: .95;
  }
  
  .floating img {
    max-width: 100%; /* adjust as needed */
    height: auto; /* maintain aspect ratio */
  }
  

.bouncing-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.bouncing {
    position: absolute;
    width: 20vw;
    height: 20vw;
    opacity: .7;
    cursor: url('assets/cursors/cursor_15.cur'), auto;
}

.monochrome {
  filter: grayscale(100%) brightness(100%);
}

.hidden {
  display: none;
}

  
#header {
    height:25vh;
}

#lineCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#contours {
  display: flex;
  flex-basis: 100%;
  align-content: center;
}


#splash-window {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1000; /* ensure it's on top */
  background-color: black; /* match the background color of the command prompt */
  box-sizing: border-box;
  margin: 0 !important; /* override any conflicting margin */
  padding: 0 !important; /* override any conflicting padding */

}


#command-prompt {
  font-size: x-large;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  resize: none; /* prevent resizing */
  overflow: hidden; /* hide scrollbars */
  font-family: 'Perfect DOS VGA 437', monospace;
  background-color: #0827F5;
  color: #eeff00;
  box-sizing: border-box; /* include padding and border in the element's total width and height */
  padding: 1%;
  margin: 0 !important; /* remove margin */

}



/* #combined-gif {
  width: 75%;
  height: 75%;
} */

@font-face {
    font-family: 'Perfect DOS VGA 437';
    src: url('PerfectDOSVGA437.eot');
    src: url('PerfectDOSVGA437.eot?#iefix') format('embedded-opentype'),
        url('PerfectDOSVGA437.woff2') format('woff2'),
        url('PerfectDOSVGA437.woff') format('woff'),
        url('PerfectDOSVGA437.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* @keyframes wobble {
    0% { transform: translateX(0, 0); }
    50% { transform: translateX(8px); }
    100% { transform: translateX(0); }
} */

@keyframes wobble {
    0% { transform: rotateX(0deg) rotateY(0deg) scale(1); }
    10% { transform: rotateX(2deg) rotateY(4deg) scale(1.01); }
    20% { transform: rotateX(4deg) rotateY(8deg) scale(1.02); }
    30% { transform: rotateX(2deg) rotateY(4deg) scale(1.01); }
    40% { transform: rotateX(0deg) rotateY(0deg) scale(1); }
    50% { transform: rotateX(-2deg) rotateY(-4deg) scale(0.99); }
    60% { transform: rotateX(-4deg) rotateY(-8deg) scale(0.98); }
    70% { transform: rotateX(-2deg) rotateY(-4deg) scale(0.99); }
    80% { transform: rotateX(0deg) rotateY(0deg) scale(1); }
    90% { transform: rotateX(2deg) rotateY(4deg) scale(1.01); }
    100% { transform: rotateX(0deg) rotateY(0deg) scale(1); }
}

@keyframes ticker {
    from {
      left: 100%; /* start off the right edge */
    }
    to {
      left: -100%; /* end off the left edge */
    }
  }
  
  .ticker-text {
    animation: ticker 10s linear infinite; /* adjust duration as needed */
  }
  
  